.spreadsheet {
	width: 100%;
	height: 100%;
	outline: none;

	.jexcel {
		width: auto;
		border-top: none;

		td {
			padding: 4px;
			line-height: 24px;

			&:not(:first-child) {
				max-width: 50ch;
				min-width: 150px;
			}
		}

		thead tr td {
			border-top: none;

			&:first-child {
				min-width: 48px;
			}
		}

		tbody tr td {
			overflow: hidden;
		}
	}
}
